In [3]:
!ls
# sample_data titanic.csv
import pandas as pd
df = pd.read_csv('titanic.csv')
# df.info() = info perkolom data type dan jumlah nya dll
# df.describe() = ini untuk statistiknya mean dll
# df['Age'] = untuk liat per kolom atau bisa df.Age
# df[['Age', 'Parch', 'Ticket']] = untuk liat beberapa kolom pilihan
# df.iloc[11] = hanya untuk pilihan nomor keberapa
# df[df['Age']>30] = menampilkan pilihan yang beurmur diats 30
# df[(df['Sex']=='male') & (df['Survived'])==1] = penumpang pria yang selamat
# df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

sample_data  titanic.csv


dataset dari atas, kalo gaada deskripsi angkanya cuma dapet 4 terbawah dataset

In [ ]:
df.head(222)

dataset dari bawah

In [ ]:
df.tail(22)

Jumlah kolom dan baris

In [ ]:
df.shape

nama kolom

In [ ]:
df.columns